<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src='@Url.Content("~/Scripts/knockout-3.0.0.js")' ></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                cache: false,
                error: function (x, e) {
                    if (x.status == 0) {
                        alert('You are offline!!\n Please Check Your Network.');
                    } else if (x.status == 404) {
                        alert('Requested URL not found.');
                    } else if (x.status == 500) {
                        alert('Internal Server Error.');
                    } else if (e == 'parsererror') {
                        alert('Error.\nParsing JSON Request failed.');
                    } else if (e == 'timeout') {
                        alert('Request Time out.');
                    } else {
                        alert('Unknown Error.\n' + x.responseText);
                    }
                }
            });
        });
    </script>

    @RenderSection("scripts", required: false)
    <small>
        Made by Andrei Ignat, <a href="http://msprogrammer.serviciipeweb.ro/" target="_blank">http://msprogrammer.serviciipeweb.ro</a>
        <br />
        Source code at <a href="https://github.com/ignatandrei/MVCMinimizeJson/" target="_blank">https://github.com/ignatandrei/MVCMinimizeJson/</a>
        <br />
        View online at <a href="http://jsonminimize.apphb.com/" target="_blank">http://jsonminimize.apphb.com/</a>
        
    </small>
    
    

    <script type="text/javascript">
        (function () {
            if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
            var unit = { "publisher": "ignatandrei", "width": 300, "height": 250, "sid": "Chitika Default", "color_site_link": "0000CC", "color_bg": "FFFFFF" };
            var placement_id = window.CHITIKA.units.length;
            window.CHITIKA.units.push(unit);
            document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = '//cdn.chitika.net/getads.js';
            try { document.getElementsByTagName('head')[0].appendChild(s); } catch (e) { document.write(s.outerHTML); }
        }());
    </script>
</body>
</html>
